<div class="jumbotron text-center bg-dark text-white">
	<h2>MONGO SCRAPER</h2>
	<p>New York Times - World Headlines</p>
	<br>
	<a href="/scrape" class="btn btn-danger">Scrape New Data</a>
</div>

{{!-- <div class="container">
	<div class="row">
		<div class="col-8" id="articles"></div>
		<div class="col-4" id="comments"></div>
	</div>
</div> --}}

{{!-- {{#each articles}}
{{this.title}}
{{/each}} --}}

<div class="wrapper">
	<div class="container">
		{{#each articles}}
		<div class="card">
			<div class="card-header">
				<h5>{{this.title}}</h5>
			</div>
			<div class="card-body">
				{{!-- <img src="{{this.img}}" alt="photo" class="card-img-top"> --}}
				<p class="card-text">{{this.summary}} | <a href="'https://www.nytimes.com' + {{this.link}} + ">Full
						Article</a></p>
				<hr>
				<div id="comments"></div>
				{{!-- <textarea name="body" id="bodyinput" cols="150" rows="2"></textarea> --}}
				{{!-- <button class="btn btn-primary" id="savecomment" data-id="{{this._id}}">Save Comment</button> --}}
				{{!-- <hr> --}}

				{{!-- {{#unless this.comment}} --}}
				<button class="btn btn-primary" id="add-comment" data-id="{{this._id}}">Add Comment</button>
				{{!-- {{/unless}} --}}
			</div>
		</div>
		<br>
		<hr>
		<br>
		{{/each}}
	</div>
</div>